.dps_poll_content{{ poll.pk }} { padding: 3px;}
.dps_poll_content_header {font-variant: small-caps;}
.dps_poll_userspace {float: left; width: 100%; text-align: right;}
.dps_poll_title {color: #b10000; font-variant: small-caps; text-decoration: underline;}
.dps_poll_warning_message {color: #f88885;}

.dps_poll_body { clear: both; color: #0e3366; margin-left: 10px; }

.dps_poll_max_bar {display: block; padding: 0px; height: 10px; margin-top: 5px; margin-bottom: 5px; border: solid #246301 1px; background-image: url(/static/petricko/img/anket.jpg);}
.dps_poll_normal_bar {display: block; padding: 0px; height: 10px; margin-top: 5px; margin-bottom: 5px; border: solid #246301 1px; background-image: url(/static/petricko/img/anket.jpg);}

.dps_poll_item_dl {clear: both; width: 100%;}
.dps_poll_voters_count {text-align: right; border-top: 2px solid #333; margin: 25px; padding-top: 4px;}
.dps_poll_total {font-size: 1.5em;}


#anketka{
    float: left;
    margin-left: -10px;
    padding-bottom: 10px;        
}

#anketka p{
   padding: 5px 10px 5px 10px; 
   color: #0e3366;      
}

#anketa_nadpis{
    text-align: center;
    color: #0E1E2E !important; 
    padding: 5px 10px 5px 10px;
    line-height: 20px;  
    margin-bottom: 10px;                
}

#anketa_button{
    width: 69px;
    height: 39px;
    border: none;
    text-shadow: 1px 1px 0px #294804;
    font-weight: bold;
    color: white;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    background-image: url(/static/petricko/img/search_submit.png);        
} 

#anketa_button:hover, #anketa_button:visited{
    background-position: 0px -39px;
    cursor: pointer;                            
}
