{% load i18n %}
{% load polls_tags %}

<style type="text/css">
	{% include "_polls_style.css" %}
</style>
<script type="text/javascript">
	trans_total_voters = '{% trans "Všechny hlasy" %}';
	trans_choose_anything_to_vote = '{% trans "Vyberte nejakou moznost" %}';
	trans_only_authenticated_users_can_vote = '{% trans "Only authenticated users can vote" %}';
	{% include "_polls_script.js" %}
</script>

<div class="dps_poll_content_{{ poll.pk }}">                                                                                                                                           
	<p class="dps_poll_warning_message">
		<noscript>		
			{% trans "WARNING: JavaScript is disabled in your browser. Please, turn it on to vote." %}
		</noscript>
	</p>
	<form method="post" id="anketka">
		{% csrf_token %}
		<p id="anketa_nadpis"><b>{{ poll.title }}</b></p>
		<div class="dps_poll_body">
			{% if poll.get_cookie_name in request.COOKIES %}
				<p>{% trans "Už jste hlasoval" %}.</p>
				<p><a class="dps_showresults_{{ poll.pk }}" href="javascript:void(0);">{% trans "Zobrazit výsledek" %}</a></p>
			{% else %}
				{% render_items poll items %}
				<p><input class="dps_sendvote_{{ poll.pk }}" type="button" id="anketa_button" value="{% trans "Hlasuj" %}" /></p>
			{% endif %}
		</div>
	</form>
	<script type="text/javascript">
		if(!navigator.cookieEnabled) {
			$('.dps_poll_content_{{ poll.pk }} .dps_poll_warning_message').append('{% trans "WARNING: Cookies are disabled in your browser. Please, turn it on to vote." %}');
			$('.dps_sendvote_{{ poll.pk }}').attr('disabled', '');
		}
	</script>
</div>
