{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en_US">
 <head>
 
  <!-- Vytvořil Ondřej Šika & Michael Švarc, (c) 2012 -->
 
  <meta charset="utf_8" />
  {% render_block "css" %}
  <link rel="stylesheet" href="/static/petricko/css/base.css" type="text/css" />
  <!-- <link rel="icon" href="favicon.ico" type="image/x_icon" /> -->

  <title>Petricko</title>
 </head>
 <body>
{% cms_toolbar %}
<div id="main_container_404">

<h1>Omlouváme se,</h1>
<p>ale požadovanou stránku se nepodařilo najít.</p>
<a href="/">Návrat na úvodní stranu</a>
<p><br /></p>
<a href="http://www.zdravotnicke-potreby.com/"><p id="eshop" style="float: right; margin-top: 0px; margin-right: 150px;">E-shop</p></a>

</div> <!-- main_container -->
{% render_block "js" %}
  </body>
</html>