{% load thumbnail %}

<div class="predni_lajna"><!-- --></div><h2>Novinky</h2><div id="zadni_lajna_n"><!-- --></div>
{{news_list}}
{% for new in new_list %}
    <div class="new">
        <div class="new_date">{{ new.get_created_at }}</div> <!-- new_date -->
        <a href="{% url petricko.new new.url_key %}"><h3>{{ new.name }}</h3></a>
        <div class="cistic"></div><!-- cistic -->
        <div class="new_container">
            <img src="{% thumbnail new.img 143x115 box=new.img_crop crop detail %}">
            <div class="new_container_p">
                <p class="desriptions">{{ new.description }}</p>
                
                <p class="cist_cele"><a href="{% url petricko.new new.url_key %}"><span>Číst celé</span></a></p>
            </div>
        </div> <!-- new_container -->
        <hr class="new_hr">
    </div> <!-- new -->
{% endfor %}
