{% load cms_tags sekizai_tags menu_tags %}
<!DOCTYPE html>
<html lang="en_US">
 <head>
 
  <!-- Vytvořil Ondřej Šika & Michael Švarc, (c) 2012 -->
 
  <meta charset="utf_8" />
  {% render_block "css" %}
  <link rel="stylesheet" href="/static/petricko/css/base.css" type="text/css" />
  <link rel="stylesheet" href="/static/petricko/css/bootstrap-forms.css" type="text/css" />
  <!-- <link rel="icon" href="favicon.ico" type="image/x_icon" /> -->

  <title>Petricko</title>
 </head>
 <body>
{% cms_toolbar %}
<div id="main_container">

<div id="header">
    <div id="logo">
    <a href="/"><img src="/static/petricko/img/logo_big.png"></a>
    </div> <!-- logo -->
    
    <a href="http://www.zdravotnicke-potreby.com/"  target="blank"><p id="eshop">E-shop</p></a>
    
    <div id="search_form">
    <form action="/search" method="get">
      <input type="search" id="search_i" name="q" placeholder="Vyhledávaný pojem">
      <input type="submit" value="Hledej" id="search_s" >
    </form>
    </div> <!-- search -->
    
</div> <!-- header -->

<div id="main_menu">
    <ul>
        {% show_menu 0 100 100 100 "petricko/main_menu.html" %}
    </ul>
</div> <!-- main_menu -->

<div id="page_container">

    {# placeholder base_content #}
    {% block base_content %}
    {% block page %}
    <div id="side_bar">
    
        <div class="side_bar_header">
            <img src="/static/petricko/img/left_menu_icon_dalsi_zbbozi.png" class="lm_icon">
            <h2>Další zboží</h2>
        </div>
        
        <div id="side_menu">
            <ul>
                {% for category in side_menu_category_list %}
                    <li class="{%if category.name|length > 25%}dvojradek{%endif%}">
                        <a href="{% url petricko.category category.url_key %}">{{category.name}}</a>
                    </li>
                {% endfor %}
                <li class="">
                    <a href="/individualni-prani/">Individuální přání</a>
                </li>
            </ul>
        </div> <!-- side_menu -->
        <div class="side_bar_header">
            <img src="/static/petricko/img/left_menu_icon_telefon.png" class="lm_icon">
            <h2>Podpora na telefonu</h2>
        </div>
        <img src="/static/petricko/img/telefon_icon_telefon.png" class="lm_t_icon">
        <p class="side_bar_phone">353 822 439</p>
        <h3>Nakupte u nás po telefonu:</h3>
        <img src="/static/petricko/img/telefon_icon_shop.png" class="lm_t_icon">
        <p class="side_bar_phone">353 821 633</p>
        
        <div class="side_bar_header">
            <img src="/static/petricko/img/left_menu_icon_anketa.png" class="lm_icon">
            <h2>Anketa</h2>
            <div style="clear:both;"></div>
            {% load polls_tags %}
            <script src="http://code.jquery.com/jquery.min.js"></script>
            {% poll_queue "anketa" %}
        </div>
    </div> <!-- side_bar -->
    
    <div id="content">
        {% block content %}
        <div id="content_img">
          <h1 style="visibility: hidden;">Petričko - pro život v pohybu</h1>
        </div> <!-- content_img -->
        <div class="section">
            <div class="predni_lajna"><!-- --></div><h2>Nejžádanější zboží</h2><div class="zadni_lajna"><!-- --></div>
            <h3 id="product_luzka"><a href="/polohovaci-luzka">Polohovací lůžka</a></h3>
            <h3 id="product_voziky"><a href="/mechanicke-a-elektricke-invalidni-voziky">Mechanické&nbsp;a&nbsp;elektrické <br /> invalidní vozíky</a></h3>
            <h3 id="product_koupelny"><a href="/pomucky-do-koupelny-a-wc">Pomůcky&nbsp;do<br />koupelny a WC</a></h3>
            <h3 id="product_chuze"><a href="/pomucky-pro-usnadneni-chuze">Pomůcky&nbsp;pro <br />usnadnění chůze</a> </h3>
            
        </div> <!-- section -->
        <div class="section">
            {% block news %}{% endblock %}
        </div> <!-- section -->
        {% endblock content %}
    </div> <!-- content -->
    
    {% endblock page %}
    {% endblock base_content %}
</div> <!-- page_container -->
<div id="footer">
    <div id="footer_left">
        <ul>
            {% show_menu 0 100 100 100 %}
        </ul>
        <p><br /></p>
        <p>2012 &copy; <strong>Petricko s.r.o.</strong>, all rights reserved. Vlastníkem stránek je firma <strong>Petricko s.r.o.</strong></p>
    </div> <!-- footer_left -->
    <div id="footer_right">
        <ul>
            <li class="first">Design by <a href="http://www.michaelsvarc.com">Michael Švarc</a></li>
            <li><a href="http://djangoproject.com">Django 1.4</a> power by <a href="http://ondrejsika.com">Ondřej Šika</a></li>
        </ul>
    </div> <!-- footer_right -->
</div> <!-- footer -->
</div> <!-- main_container -->
{% render_block "js" %}
  </body>
</html>