{% extends "petricko/base.html" %}
{% load cms_tags sekizai_tags menu_tags %}
{% load thumbnail markup %}
{% block page %}
    <div class="page_head">
        <img src="{% thumbnail category.img 960x300 box=category.img_crop crop detail %}">
        <h2>{{category.name}}</h2>
        <p>{{category.description|linebreaksbr|markdown}}</p>
    </div>
    {% for product in products_list %}
        <div class="product">
         <h3>{{product.name}}</h3>
            <div class="product_image">
                <img src="{% thumbnail product.img 314x149 box=product.img_crop crop detail %}">
            </div> <!-- product_image -->
            <div class="product_content">
               
                <p>{{product.description|linebreaksbr|markdown}}</p>
            
                <div class="product_bar">
                  <hr class="product_hr" />
                    <div class="product_files">
                        {% for pdf in product.pdf_set.all %}
                            <a href="{{pdf.pdf_file.url}}" class="product_pdf" target="blank"><img src="/static/petricko/img/pdf_icon.png" alt="{{pdf.name}}"><b>{{pdf.name}} </b></a>
                        {% endfor%}
                    </div>
                    <div class="product_on_eshop">
                        <p>
                            {% if product.link_to_shop %}
                                <a href="{{product.link_to_shop}}" target="blank" class="do_eshop">Nakupte u nás</a>
                            {% else %}
                                <a href="http://zdravotnicke-potreby.com" target="blank" class="do_eshop">Nakupte u nás</a>
                            {% endif %}
                        <p>
                    </div>
                </div>
            </div><!-- product_content -->
        </div> <!-- product -->
    {% endfor %}
{% endblock page %}