
{% extends "petricko/base.html" %}
{% load cms_tags sekizai_tags menu_tags %}
{% load thumbnail %}
{% load markup %}
{% block page %}
    <div class="page_head">
        <img src="{% thumbnail category.img 960x300 box=category.img_crop crop detail %}">
        <h2>{{category.name}}</h2>
        <p>{{category.description}}</p>
    </div>
    <div id="product_boxes">
        {% for product in products_list %}
            {% if product.pdf_set.all.0 %}<a  target="blank" href="{{product.pdf_set.all.0.pdf_file.url}}">{%endif%}<div class="product_box"  style="background: url('{% thumbnail product.img 300x200 box=product.img_crop crop detail %}')"><h3>{{ product.name }}</h3></div>{% if product.pdf_set.all.0 %}</a>{%endif%}
        {% endfor %}
    </div>
        <p>
            <a href="http://zdravotnicke-potreby.com" target="blank" class="do_eshop" style="margin-right:21px;">Náš obchod</a>
        </p>
    <div style="clear:both"></div>
    {% for item in subcategory_list %}
                                                        <div class="product">
                                                    <h3>{{item.name}}</h3>
                                                    {% for article in item.article_set.all %}
                                                        
                                                            <div class="product_image">
                                                                <img src="{% thumbnail article.img 314x149 box=article.img_crop crop detail %}">
                                                            </div> <!-- product_image -->
                                                            <div class="product_content">
                                                                <p>{{ article.description|linebreaksbr|markdown }}</p>
                                                                <div class="product_bar">
                                                                     <hr class="product_hr" />
                                                                <div class="product_files">
                                                                    {% for pdf in product.pdf_set.all %}
                                                                        <a href="{{pdf.pdf_file.url}}" target="blank"><img src="/static/petricko/img/pdf_icon.png" alt="{{pdf.name}}"><b>{{pdf.name}}</b></a>
                                                                    {% endfor%}
                                                                </div>
                                                                </div>
                                                            </div>
                                                      
                                                    {% endfor %}
                                                      </div> <!-- product -->
    {% endfor %}
{% endblock page %}