{% extends "petricko/base.html" %}
{% load cms_tags sekizai_tags menu_tags thumbnail %}
{% block page %}
<p><br /></p>
<div class="new_date">{{ new.get_created_at }}</div> <!-- new_date -->
<div class="news_sub">
<h2>{{ new.name }}</h2>
<div class="cistic"></div><!-- cistic -->
<img id="new_detail_img" src="{% thumbnail new.img 286x230 box=new.img_crop crop detail %}">

<div id="new_detail_content">
    <p>{{new.description}}</p>
    <p>{{new.content}}</p>
    <p><br /></p>
    <p class="cist_cele"><a href="/#zadni_lajna_n"><span>Zpět na hlavní stranu</span></a></p>
</div>
</div><!-- news_sub -->
{% endblock page %}