{% extends "petricko/base.html" %}
{% load thumbnail markup %}
{% block page %}
    {% for product in products_list %}
        <div class="product">
            <div class="product_image">
                <img src="{% thumbnail product.img 314x159 box=product.img_crop crop detail %}">
            </div> <!-- product_image -->
            <div class="product_content">
                <h3>{{product.name}}</h3>
                <p>{{product.description|linebreaksbr|markdown}}</p>
            
                <div class="product_bar">
                                                                     <hr class="product_hr" />
                                                                <div class="product_files">
                                                                    {% for pdf in product.pdf_set.all %}
                                                                        <a href="{{pdf.pdf_file.url}}" target="blank"><img src="/static/petricko/img/pdf_icon.png" alt="{{pdf.name}}"><b>{{pdf.name}}</b></a>
                                                                    {% endfor%}
                                                                </div>
                                                                </div>
            </div>
        </div> <!-- product -->
    {% endfor %}
{% endblock page %}