{% extends "petricko/base.html" %}
{% load cms_tags sekizai_tags menu_tags %}
{% load thumbnail %}
{% block page %}
<h2 class="h2_s">Výsledky vyhledávání</h2>
{% for result in results_list %}

    {% if result.1 == "Subcategory"%}
        {% for item in result.2 %}
                                                        <div class="product">
                                                    <h3>{{item.name}}</h3>
                                                    {% for article in item.article_set.all %}
                                                        
                                                            <div class="product_image">
                                                                <img src="{% thumbnail article.img 314x149 box=article.img_crop crop detail %}">
                                                            </div> <!-- product_image -->
                                                            <div class="product_content">
                                                                <p>{{ article.description|linebreaksbr }}</p>
                                                                <div class="product_bar">
                                                                     <hr class="product_hr" />
                                                                <div class="product_files">
                                                                    {% for pdf in product.pdf_set.all %}
                                                                        <a href="{{pdf.pdf_file.url}}"><img src="/static/petricko/img/pdf_icon.png" alt="{{pdf.name}}"><b>{{pdf.name}}</b></a>
                                                                    {% endfor%}
                                                                </div>
                                                                </div>
                                                            </div>
                                                      
                                                    {% endfor %}
                                                      </div> <!-- product -->
        {% endfor %}
    {% endif %}
    {% if result.1 == "New" %}
        {% for item in result.2 %}
                                                      <div class="new_date">{{ item.get_created_at }}</div> <!-- new_date -->
                                                    <div class="news_sub">
                                                    <h2>{{ item.name }}</h2>
                                                    <div class="cistic"></div><!-- cistic -->
                                                    <img id="new_detail_img" src="{% thumbnail new.img 286x230 box=new.img_crop crop detail %}">

                                                    <div id="new_detail_content">
                                                        <p>{{item.description}}</p>
                                                        <p>{{item.content}}</p>
                                                        <p><br /></p>
                                                        <p class="cist_cele"><a href="/#zadni_lajna_n"><span>Zpět na hlavní stranu</span></a></p>
                                                    </div>
                                                    </div><!-- news_sub -->
                                                    <div style="clear:both;"></div>
                                                      
        {% endfor %}
    {% endif %}
    {% if result.1 == "Product" %}
        {% for item in result.2 %}
                                                      <div class="product">
                                                        <div class="product_image">
                                                            <img src="{% thumbnail item.img 314x159 box=product.img_crop crop detail %}">
                                                        </div> <!-- product_image -->
                                                        <div class="product_content">
                                                            <h3>{{item.name}}</h3>
                                                            <p>{{item.description|linebreaksbr}}</p>
                                                        
                                                            <div class="product_bar">
                                                                <div class="product_files"></div>
                                                                {% if item.link_to_shop %}
                                                                <div class="product_on_eshop">
                                                                    <p><a href="{{item.link_to_shop}}">Nakupte u nás</a><p>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div> <!-- product -->                                                            
        {% endfor %}
    {% endif %}
    {% if result.1 == "Category" %}
        {% for item in result.2 %}

                  <div class="product"><a href="/{{item.url_key}}"><h3>Kategori {{item.name}}</h3></a></div>
        {% endfor %}
    {% endif %}
{% endfor %}
{% endblock page %}