 *{
  margin: 0;
  padding: 0;  
}

p {text-align: justify;}

body {
    background: #f1fbff url("/static/petricko/img/back.jpg") repeat-x scroll 50% 0px;
    font-size: 12px;
    font-family: Arial, 'Trebuchet MS', Verdana;
}

h1 {
    display: inline-block;
    line-height: 1em;
}

a{
  color: #408113;
  text-decoration: underline;
  font-weight: bold;
 }

a:hover{
  color: #3c6398; 
  text-decoration: none;       
}   

a img{
  border: none;              
}

#product_boxes {
    width: auto;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 10px;
}

.product_box {
    background-color: #EEE;
    width: 200px;
    height: 100px;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 30px;
}

.product_box h3{
    color: #215400; 
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    margin-top: -27px;
    margin-bottom: 0px;
    color: #215400;
    padding: 5px;   
    background-color: #c9e0b3;                 
}

.product_box_on_eshop {
    margin-top: 70px;
    margin-left: -28px;
    width: 173px;
    height: 31px;
}

.cistic{
  clear: both;       
}

.page_head {
    margin-bottom: 20px;
}



#main_container {
    width: 960px;
    margin: 10px auto;
    
}

/*404*/


#main_container_404{
    width: 450px;
    margin: 10px auto;
    text-align: center; 
    margin-top: 250px;                  
}

#main_container_404 h1 {
    color: #4e9505;
    font-size: 30px;
    margin-bottom: 10px;                     
  }
  
#main_container_404 p{
    color: #5678a8;
    font-size: 20px;  
    margin-bottom: 20px;                   
}

/*end 404*/

#header {
    height: 82px;
}

#header div {
    display: inline;  
}

#logo {
    float: left;
}

#search_form{
    float: left;
    margin: 9px 0px 0px 20px; 
}

#search_i{
    width: 205px;
    height: 39px;
    padding-left: 10px;
    line-height: 30px;
    font-size: 13px;
    color: #78856a;
    font-style: italic;
    border: none;
    margin-top: 0px;
    float: left;
    background-image: url(../img/search_panel.png);
    background-repeat: no-repeat;                      
}

#search_s{
    width: 69px;
    height: 39px;
    border: none;
    text-shadow: 1px 1px 0px #294804;
    font-weight: bold;
    color: white;
    font-size: 13px;
    margin: 0px 0px 0px 0px;
    background-image: url(../img/search_submit.png);        
}   

#search_s:hover, #search_s:visited{
    background-position: 0px -39px;
    cursor: pointer;                            
}

#eshop{
    margin: 10px 0px 0;
    float: right;
    width: 91px;
    height: 37px;
    background-image: url("/static/petricko/img/submit_eshop.png");
}
                       

a #eshop{
  line-height: 38px;
  padding-left: 60px;
  text-shadow: 1px 1px 0px #294804;
  font-weight: bold;
  color: white;
  font-size: 15px;
  text-decoration: none;        
}

#eshop:hover{
  color: #effae8;
  background-position: 0px -37px;          
}
            
            
        
        

#main_menu ul {
    height: 52px;
    width: 960px; 
    background-image: url("/static/petricko/img/menu.jpg");
    padding: 0;
}

#main_menu li {  
    display: inline-block;
    margin-top: 3px;  
    background: url(../img/oddelovac.jpg) no-repeat right center;
}

#main_menu ul li.small a{
    width: 100px;
    height: 49px;
    float: left;
    font-weight: bold;
    color: #334655;
    text-shadow: 1px 1px 0px #f8f9fb;
    text-decoration: none;
    text-align: center;
    line-height: 49px;                      
}

#main_menu ul li.small a:hover{
    color: #16242f;
    background-image: url(../img/hover_small.jpg);                    
}

#main_menu ul li.long a{
    width: 160px;
    height: 49px;
    float: left;   
    font-weight: bold;    
    color: #334655;
    text-shadow: 1px 1px 0px #f8f9fb;
    text-decoration: none;
    text-align: center;
    line-height: 49px;                      
}

#main_menu ul li.long a:hover{
    color: #16242f;
    background-image: url(../img/hover_long.jpg);                    
}
                            
#page_container {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 5px 0px 20px 0px;
    background: white; /*url(../img/index_back.jpg) repeat-y;*/
}

.h2_s{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #2e7102;
    font-size: 18px; 
    margin-left: 20px;      
}



 
#sps h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2e7102;
    font-size: 25px; 
    margin-left: 20px;                
}

#sps h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 30px;                  
}

#sps h3{
    color: #215400; 
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #215400;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px; 
    border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    padding: 5px;
    margin-left: 20px;
    background-color: #c9e0b3;                 
}

#sps h4, #sps h5, #sps h6{
    margin-left: 35px;                  
}

#sps ul{
    list-style-type: square;
    line-height: 25px;
    margin-left: 35px;                      
}

#sps strong{
    font-weight: bold;
    color: #2e7102;                      
}
 
#sps p{
    margin-left: 20px;
    line-height: 22px;
    margin-right: 20px;                 
}


#side_bar {
    float: left;
    width: 205px;

}

#content {
    width: 747px;
    margin-left: 8px;
    display: inline-block;
}

#content_img {
    background-image: url("/static/petricko/img/banner.jpg");
    width: 747px;
    height: 286px;
    
}
 
#product_luzka a{
    float: left;
    width: 207px;
    height: 132px; 
    color: #559e05;
    line-height: 130px;
    font-size: 20px;
    text-decoration: none;
    padding-left: 150px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-image: url('/static/petricko/img/luzka.jpg');
}

#product_voziky a{
    float: left;
    width: 239px;
    height: 92px;
    text-align: center; 
    color: #559e05;
    line-height: 25px;
    font-size: 20px;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 118px;
     margin-bottom: 20px;
    
    background-image: url('/static/petricko/img/voziky.jpg');
}

#product_koupelny a{
    float: left;
    width: 247px;
    height: 92px;
    text-align: center;  
    color: #559e05;
    line-height: 25px;
    font-size: 20px;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 110px;
     margin-right: 20px;
    background-image: url('/static/petricko/img/pomucky_wc.jpg');
}

#product_chuze a{
    float: left;
    width: 237px;
    height: 92px; 
    text-align: center; 
    color: #559e05;
    line-height: 25px;
    font-size: 20px;
    text-decoration: none;
    padding-top: 40px;
    padding-left: 120px;
    background-image: url('/static/petricko/img/usnadneni_chuze.jpg');
} 

#product_luzka a:hover, #product_voziky a:hover, #product_koupelny a:hover, #product_chuze a:hover{
    color: #3c6398; 
    background-position: 0px -132px;                                                                                                  
}
        
.section{
    width: 100%;
    height: auto;
    float: left;        
}
        

#side_menu li{
    list-style: none;
}

#side_menu ul li a{
    
    text-decoration: none;
    color: #2e7102;
    font-size: 12px;
    font-weight: bold;
    width: 170px;
    float: left;
    height: 39px;
    padding-left: 30px;
    margin-bottom: 3px;
    padding-top: 10px;
    line-height: 29px;
    background-image: url("/static/petricko/img/left_menu_polozka.jpg");  
}

#side_menu ul li a:hover{
    color: #3c6398;
    background-position: 0px -49px;               
}

#side_menu li.dvojradek a{
    line-height: 15px;
}

.side_bar_header {
    list-style: none;
    float: left;
    background-image: url("/static/petricko/img/left_menu_nadpis.jpg");
    width: 188px;
    height: 38px;
    margin-bottom: 3px;
    padding-left: 12px; 
}

.side_bar_header h2{
    display: inline-block;
    line-height: 1em;
    margin: 0px;
    font-size: 12px;
    float: left;
    color: white;
    line-height: 38px;
}

.side_bar_header h3{
    color: #39567e;
}

.lm_icon{
    float: left; 
    margin-top: 5px;
    margin-right: 12px;       
}        

#side_bar h3{
    margin: 10px;
    margin-left: 0;
    font-size: 13px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
    display: block;
    width: 100%;
    color: #39567e;
}


.side_bar_phone {
    display: inline-block;
    line-height: 0;
    float: left;
    color: #337802;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    
}

.lm_t_icon{
    float: left;
    margin: 10px 10px 10px 10px;      
}

#content h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2e7102;
    font-size: 20px;          
}

.predni_lajna{
    width: 51px;
    height: 7px;
    background-image: url(../img/nadpis_lista.png);
    background-repeat: repeat-x;           
    float: left;
    margin-top: 30px;
    margin-right: 15px;             
}

.zadni_lajna, #zadni_lajna_n{
    width: 470px;
    height: 7px;
    background-image: url(../img/nadpis_lista.png);
    background-repeat: repeat-x;           
    float: right;
    margin-top: -35px;
    margin-right: 18px;               
}

#zadni_lajna_n{
    width: 570px;             
}

/*Produkty*/

.page_head h2{
    color: #2e7102; 
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-size: 20px;             
}

.page_head p{
    line-height: 23px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;            
}

.product{
    margin-bottom: 25px;        
}

.product h3{
    color: #215400; 
    font-size: 14px;
    font-weight: bold;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #215400;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px; 
    border-bottom-right-radius: 4px 4px;
    border-bottom-left-radius: 4px 4px;
    padding: 5px;
    margin-left: 20px;
    background-color: #c9e0b3;           
}

.product_image{
    border: solid #dbe3d7 3px;
    margin-left: 20px;   
    margin-bottom: 10px;           
}           

.product_content p{
    line-height: 20px;
    
                      
}

.product_files{
    width: 415px;
    height: auto;
    float: left;
    margin-left: -25px;
                 
}

.product_pdf{
   
    
    height: 35px;
    font-weight: normal;
    text-decoration: underline;
    line-height: 35px;
    float: left;
  
    font-size: 12px;
    margin-bottom: 10px;
            
}

.product_pdf b{
    float: left;
    margin-left: 5px;              
}

.product_pdf img{
    float: left;
    margin-left: 25px;                
}


/*tlacitko eshop*/

                 
.do_eshop{
    margin: 0;
    float: right;
    margin-right: -40px;
    width: 153px;
    height: 31px;
    background-image: url('/static/petricko/img/nakupte_u_nas.png');
}

.do_eshop2{
    margin: 0;
    margin-right: 20px; 
    float: right;
    width: 153px;
    height: 31px;
}
a.do_eshop2{
  line-height: 31px;
  text-align: right;
  text-shadow: 1px 1px 0px #294804;
  font-weight: bold;
  color: white;
  font-size: 14px;
  margin-right: 20px;
  text-decoration: none;        
}
                       

a.do_eshop{
  line-height: 31px;
  text-align: right;
  text-shadow: 1px 1px 0px #294804;
  font-weight: bold;
  color: white;
  font-size: 14px;
  padding-right: 20px;
  text-decoration: none;        
}

.do_eshop:hover{
  color: #effae8;
  background-position: 0px -31px;          
}
               



/*rozkliknuta novinka*/
    
.news_sub h2{
    color: #2e7102; 
    float: left;
    margin-top: 18px;
    margin-left: 20px;                
}
 
#new_detail_img{
   float: left;
   margin-top: 20px;
   margin-left: 10px; 
   margin-right: 30px;           
}

#new_detail_content{
    width: 64%;
    float: left;
    text-align: justify;
    word-wrap: break-word;
    margin-top: 15px;
    line-height: 21px;
    margin-left: 0px;                        
    margin-bottom: 20px;
}
          
/* konec rozkliknuta novinka*/

/*patička*/
      
#footer {
    margin-top: 25px;
    margin-bottom: 35px;
    float: left;
}

#footer ul {
    padding: 0;
    margin: 0;
}

#footer li {
    display: inline-block;
    margin: 0px;
}

#footer li:before {
    content: "| ";
    margin-left: 5px;
    margin-right: 5px;
}

#footer li:first-child:before {
    content: ""; margin: 0;
    padding: 0;
}

#footer li:first-child {
    margin: 0;
    padding: 0;
}

#footer li a{
    font-weight: normal;
    color: #0F3367;
    font-size: 12px;            
}


#footer li a:hover{
    color: #408113;               
}


#footer_left {
    float: left;
}

#footer_left p{
    color: #5577A5;
    margin-left: 5px;              
}
              

#footer_right {
    float: right;
    margin-left: 30px;
}

#footer_right ul{
    margin-top: 14px;
}

.new {
    float: left;
    margin-bottom: 15px;
    clear: both;
}

.new_date {  
    width: 60px;
    height: 50px;
    font-weight: bold;
    color: white;
    float: left;
    text-align: center;
    line-height: 20px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    background-image: url('/static/petricko/img/new_date.png');
}

.new h3{
    margin-left: 8px;
    color: #101D30;
    float: left;
    max-width: 665px;
    margin-top: 15px;  
}

.new h3:hover{
    color: #408113;             
}
             

.new_container {
    margin-top: 15px;
    float: left;
}

.new_container img {
    float: left;
    margin-right: 25px;
    border: solid #5377A7 2px;
}

.new_container_p {
    vertical-align: top;
    float: left;
    
  
}

.desriptions{
    margin-top: -6px;
    width: 565px;
    height: auto;
    line-height: 23px;
    margin-bottom: 10px;
          
}

.new_hr{
    float: left;
    width: 735px;
    height: 5px;
    border: none;
    margin-top: 15px;
    background-color: #F7F9F4;      
}

.product_hr{
    float: left;
    width: 575px;
    height: 5px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #F7F9F4;                
}

.product_image {
    display: inline-block;
    width: 314px;
    height: 149px;
}
.product_content {
    width: 535px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

